// Variables
@import "variables";

//筆記体
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: serif;
  color: $cBlue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: $cBlueTransBit;
  padding: 0 10vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.logo {
  margin: 0;
  font-family: "Italianno", cursive;
  font-weight: 100;
  font-size: 3rem;
  color: $cWhite;
  user-select: none;
}

.global-nav {
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-list {
  user-select: none;
  & a {
    text-decoration: none;
    color: $cWhite;
    font-family: serif;
  }

  &:not(:first-child) {
    margin-left: 40px;
  }

  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
  }
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  background-image: url("../img/background/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;

  color: $cWhite;
  letter-spacing: 2px;
  user-select: none;
  text-shadow: 0 0 10px $cRed;

  & h1 {
    font-size: 6rem;
    margin: 0;
    line-height: 0.5;
  }
  & span {
    font-size: 3rem;
  }
}

.content {
  width: 100%;
  padding: 0 5vw;
  margin: 30px 0;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  position: relative;
  user-select: none;

  &::before {
    content: "";
    display: block;
    width: 60vw;
    height: 1px;
    background: linear-gradient(90deg, transparent 0%, $cBlue 25%, $cBlue 75%, transparent 100%);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

footer {
  background: $cBlue;
  color: $cWhite;
  text-align: center;
  padding: 10px 0;
  user-select: none;
}

.leadLine {
  display: block;
  width: 2px;
  height: 300px;
  margin: -100px auto 0;
  background: linear-gradient(180deg, $cWhite 0%, $cWhite calc(100% / 3), $cBlue calc(100% / 3));
  animation: Blinking 3s infinite linear;

  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    bottom: 2px;
    transform: translateX(-50%) rotate(45deg);
    border-bottom: 2px solid $cBlue;
    border-right: 2px solid $cBlue;
  }
}

@keyframes Blinking {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  width: 60%;
  margin: 0 auto;
}

/*Works*/
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;

  .work {
    box-shadow: 0 0 10px $cBlueTrans;

    &:not(.art) {
      border: 1px solid $cBlue;
      padding: 15px;
    }

    transition: opacity 0.5s;
    &:hover {
      opacity: 0.6;
    }

    color: $cBlue;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;

    & p {
      margin: 0;
      margin-top: 20px;
    }

    &:not(.art) .img-wrapper {
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        right: 0;
        bottom: -10px;
        background: $cBlue;
      }
    }

    & .img-wrapper {
      position: relative;
      width: 100%;
      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      & img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/*about*/

.subTitle {
  font-size: 2.7rem;
}

.myInfo,
.skillAndHistory {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.myPhoto {
  border-radius: 50%;
  width: 30%;
}

.table {
  width: 100%;
  border-collapse: collapse;

  & td {
    border-bottom: 1px solid $cBlue;
    &:nth-of-type(1),
    &:nth-of-type(2) {
      border-top: 1px solid $cBlue;
    }
  }
}

/*contact*/
.contact-box {
  & a {
    text-decoration: none;
  }

  & p {
    color: $cBlue;
    font-size: 2rem;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }

  header {
    padding: 0 5rem;
    height: 50px;
  }

  .logo {
    font-size: 30px;
    white-space: nowrap;
  }

  .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;

    & img {
      width: 40px;
    }
  }

  .nav-icon {
    & img {
      width: 40px;
    }
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .title {
    font-size: 5rem;

    &::before {
      width: 90vw;
    }
  }

  .leadLine {
    width: 1px;
    height: 200px;
    margin: -100px auto 0;
    background: linear-gradient(180deg, $cWhite 0%, $cWhite calc(100% / 2), $cBlue calc(100% / 2));

    &::after {
      bottom: 4px;
      border-bottom: 1px solid $cBlue;
      border-right: 1px solid $cBlue;
    }
  }

  //navigation
  .global-nav {
    position: fixed;
    top: 0;
    left: -80rem;
    bottom: 0;
    width: 80rem;
    transition: left 0.5s;
    &.open {
      left: 0;
    }

    padding-top: 100px;
    background-color: $cBlueTransBit;
    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      font-size: 4rem;
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .nav-list {
    padding: 1rem 0;
    & a {
      display: inline-block;
      width: 100%;
    }
    &:not(:first-child) {
      margin-left: 10rem;
    }
    margin-left: 10rem;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 80%;
      background: linear-gradient(90deg, $cWhite 0%, $cWhite 75%, transparent 100%);
    }
  }

  .top-content {
    background-image: url("../img/background/background_sp.jpg");
    & h1 {
      font-size: 9rem;
      line-height: 0.9;
    }
    & span {
      font-size: 5rem;
    }
  }

  /*work*/

  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;

    .work {
      &:not(.art) {
        padding: 2rem;
      }

      font-size: 3rem;

      & p {
        margin: 0;
        margin-top: 20px;
      }
    }
  }

  /*about*/
  /*about*/

  .subTitle {
    font-size: 3.9rem;
  }

  .myInfo,
  .skillAndHistory {
    font-size: 3.5rem;
  }

  .myInfo {
    flex-direction: column-reverse;
  }

  .skillAndHistory {
    flex-direction: column;
  }

  .history {
    width: 70vw;
    margin: 30px auto 0;
  }

  .skills {
    margin: 30px auto 0;
  }

  .myPhoto {
    width: 50%;
  }

  /*contact*/
  .contact-box {
    & p {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 98%;
    margin: 0 auto;
  }

  .title {
    font-size: 8rem;

    &::before {
      width: 95vw;
    }
  }

  .global-nav {
    & ul {
      font-size: 6rem;
    }
  }

  .grid-wrapper {
    grid-template-columns: 1fr;
    gap: 9rem 0;

    .work {
      font-size: 5rem;
    }
  }

  /*about*/
  .subTitle {
    font-size: 6rem;
  }

  .myInfo,
  .skillAndHistory {
    font-size: 5rem;
  }

  .history {
    width: 100%;
  }

  /*contact*/
  .contact-box {
    & p {
      font-size: 5rem;
    }
  }
}
